<div class="container" *ngIf="productFormGroup">
  <form [formGroup]="productFormGroup">
    <div class="form-group">
      <label>Name</label>
      <!-- Pour implementer les validators -->
      <!-- Si le champs name contient des erreurs : je le met en invalid -->
      <input type="text" class="form-control" formControlName="name"
             [ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}">
      <!-- et j'affiche e message d'erreur -->
      <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
        <!-- j'affiche le message : Name is Required -->
        <div *ngIf="productFormGroup.controls.name.errors.required">Name is Required</div>
      </div>

    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" formControlName="price">
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input type="text" class="form-control" formControlName="quantity">
    </div>
    <div class="form-group">
      <label>Selected</label>
      <input type="checkbox" formControlName="selected" class="form-check">
    </div>
    <div class="form-group">
      <label>Available</label>
      <input type="checkbox" formControlName="available" class="form-check">
    </div>
    <button class="btn btn-success" (click)="onSaveProduct()">Save</button>
  </form>
</div>
